@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a class="btn btn-lg btn-outline-primary px-4 py-2 mb-4 fw-semibold" asp-page="/gato"></a>
        Visitar GATON 
    </a>


</div>
